.page__body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  @media (min-width: @desktop-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/background-cover.jpg");
    background-size: 694px 720px;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }
}
.button {
  color: #FFFFFF;
  background-color: #68B738;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 7px;
  padding-top: 7px;
  border: none;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

