.page__body {
  background-color: #E5E5E5;
  margin: 0 auto;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @black;
  width: 320px;
  @media (min-width: @tablet-width) {
    width: 768px;
  }
  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}
.body__wrapper {
  background-color: @white;
  @media (min-width: @desktop-width){
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/background-cover.jpg");
    background-size: 720px 694px;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }
  &--inner {
    @media (min-width: @tablet-width) {
      background-image: none;
    }
  }
}
.button {
  color: @white;
  background-color: @green;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 7px;
  padding-top: 7px;
  border: none;
  text-transform: uppercase;
  &:hover {
    background-color: #5EAA2F;
  }
  &:active {
     color: rgba(255, 255, 255, 0.3);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

