.adress {
  background-color: @white;
  margin: auto;
  &--inner {
    background-color: @grey;
  }
  @media (min-width:@desktop-width) {
    position: relative;
  }
}
.adress__wrapper {
  .mobile;
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: @white;
  &--inner {
    background-color: @grey;
  }
  @media (min-width:@tablet-width) {
    width: 768px;
    padding: 60px 70px 56px;
  }
  @media (min-width:@desktop-width) {
    position: absolute;
    width: 565px;
    left: 110px;
    top: 95px;
    padding: 60px 80px 56px;
    z-index: 2;
    &--inner {
      background-color: @white;
    }
  }
}
.adress__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  @media (min-width:@tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
.adress__text {
  font-family: @Arial;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: @dark-grey;
  @media (min-width:@tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  @media (max-width:@mobile-width-only) {
    br {
      display: none;
    }
  }
}
.adress__map {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 362px;
  position: relative;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/map-pin-mobile.png");
    width: 57px;
    height: 53px;
    background-size: 57px 53px;
    background-color: transparent;
    top: 139px;
    left: 134px;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-pin-mobile@2x.png");
    }
  }
  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
  @media (min-width:@tablet-width) {
    background-image: url("../img/map-tablet.jpg");
    min-height: 400px;
    &::before {
      background-image: url("../img/map-pin-tablet.png");
      width: 113px;
      height: 106px;
      background-size: 113px 106px;
      top: 146px;
      left: 333px;
      @media (min-resolution: 2dppx) {
        background-image: url("../img/map-pin-tablet@2x.png");
      }
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
  @media (min-width:@desktop-width) {
    background-image: url("../img/map-desktop.jpg");
    &::before {
      top: 131px;
      left: 908px;
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
