.adress {
  background-color: #FFFFFF;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  &--inner {
    background-color: #F2F2F2;
  }
}
.adress__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.adress__text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
.adress__map {
  background-image: url("../img/map.jpg");
  width: 320px;
  min-height: 362px;
  margin-left: -20px;
}
