.adress {
  background-color: #FFFFFF;
  margin: 0;
  &--inner {
    background-color: #F2F2F2;
  }
  @media (min-width:@desktop-width) {
    position: relative;
  }
}
.adress__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  @media (min-width:@desktop-width) {
    position: absolute;
    background-color: #FFFFFF;
    width: 565px;
    left: 110px;
    top: 95px;
  }
}
.adress__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.adress__text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
.adress__map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 362px;
  margin-left: -20px;
  @media (min-width:@desktop-width) {
    min-height: 400px;
  }
}
