.card-additionally__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}
.card-additionally__list {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  dd{
   margin-inline-start: 0;
  }
}
.card-additionally__button {
  width: 282px;
  padding-top: 10px;
  padding-bottom: 10px;
}
