
.card {
  @media (min-width: @tablet-width) {
    width: 324px;
    box-sizing: border-box;
    background-color: @grey;
    &--all {
      @media (min-width: @tablet-width) {
        background-color: @white;
        border: 2px solid @grey;
      }
    }
  }
  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
.card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  &--all {
    text-align: center;
  }
}
.card__text {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.card__list {
  margin: 0;
}
.card__item {
  dd {
    margin-inline-start: 0;
  }
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.card__button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  @media (min-width: @tablet-width) {
    width: 248px;
  }
  @media (min-width: @desktop-width) {
    width: 168px;
  }
  &--all {
    background-color: @grey;
    color: @dark-grey;
  }
}
