.case__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/case.jpg");
}
.case__button {
  background-image: url("../img/present-icon.svg");
  background-repeat: no-repeat;
  background-position:center 59px;
  background-color: transparent;
  border: none;
  width: 280px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding-left: 58px;
  padding-right: 61px;
  padding-bottom: 43px;
  padding-top: 186px;
}
