.comment__title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  margin-bottom: 37.73px;

  span {
    background-color: @white;
    padding-right: 14px;
    position: relative;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    left: 50%;
    background-color: @green;
    top: 15px;
    z-index: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    span {
      padding-left: 39px;
      padding-right: 42px;
      margin-left: -39px;
    }

    &::before {
      transform: translateX(-50%);
      top: 22px;
    }
  }

  @media (min-width: @desktop-width) {
    span {
      padding-left: 40px;
      padding-right: 40px;
      margin-left: -40px;
    }
  }
}

.comment__field {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  width: 280px;
  min-height: 150.5px;
  box-sizing: border-box;
  padding: 9px 12px 0 15px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  cursor: pointer;
  resize: none;

  @media (min-width: @tablet-width) {
    min-height: 174px;
    width: 631px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.comment__wrapper {
  .mobile;
  padding-bottom: 22.75px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 70px 65px;
  }

  @media (min-width: @desktop-width) {
    .desktop;
    padding-bottom: 67px;
  }
}
