.contacts {
  overflow: hidden;
}

.contacts__wrapper {
  .mobile;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 70px 64px;
  }

  @media (min-width: @desktop-width) {
    .desktop;
    gap: 78px;
    padding-bottom: 56px;
  }
}

.contacts-inner {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 98px;
  }
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  margin-bottom: 27px;

  span {
    background-color: @white;
    padding-right: 14px;
    position: relative;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    left: 50%;
    background-color: @green;
    top: 15px;
    z-index: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 69px;

    span {
      padding-left: 39px;
      padding-right: 42px;
      margin-left: -39px;
    }

    &::before {
      top: 22px;
      transform: translateX(-50%);
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;

    span {
      padding-left: 40px;
      padding-right: 40px;
      margin-left: -40px;
    }

    &::before {

    }
  }
}

.contacts__input {
  color: @dark-grey;
  text-transform: uppercase;
  position: relative;

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
