.cover {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-cover.jpg");
  background-size: 100% 302px, 320px;
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.cover__wrapper {
  .mobile;
  padding-top: 25px;
  color: @white;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    .tablet;
    color: @black;
    text-align: left;
    min-height: 859px;
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    .desktop;
    min-height: 499px;
    padding-top: 58px;
    padding-bottom: 41px;
  }
}

.cover__title {
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    padding-left: 87px;
    margin-bottom: 39px;
    order: -3;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin-bottom: 40px;
  }
}

.cover__slogan {
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 49px;
    padding-left: 87px;
    font-size: 20px;
    line-height: 20px;
    order: -2;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.cover__img {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-top: -82px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 559px;
    top: 55px;
  }
}

.cover__button {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  margin-top: 1px;
  padding-top: 11px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-left: 90px;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    width: 244px;
    text-align: center;
    order: -1;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-bottom: 185px;
  }
}
