.cover {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/background-cover.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;
}
.cover__wrapper {
  color: #FFFFFF;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.cover__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.cover__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}
.cover__button {
  display: block;
  font-size: 14px;
  line-height: 16px;
  width: 280px;
}
