.page-header {
  width: 320px;
  padding: 10px 20px 17.39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;

  &--inner {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 24px 30px 18px;

    &--inner {
      border-bottom: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 53px 110px;
    width: 1440px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--name {
    margin-top: 8px;
    margin-right: 12px;
  }

  @media (min-width: @tablet-width) {
    &--name {
      display: none;
    }
  }
}
