.page-inner {
  margin: 0;
  padding: 27px 20px 32px;
  @media (min-width: @tablet-width) {
    padding: 44px 67px 72px 71px;
  }
  @media (min-width: @desktop-width) {
    padding: 44px 110px 82px;
  }
}
.page-inner--catalog {
  margin: 0;
  padding: 27px 20px 35px;
  @media (min-width: @tablet-width) {
    padding: 44px 30px 0;
  }
  @media (min-width: @desktop-width) {
    padding: 44px 110px 86.4px;
  }
}
.page-inner__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
