.page-inner__title {
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 20px 41px;
  width: 320px;
  @media (min-width: @tablet-width) {
    border-bottom: none;
    font-size: 60px;
    line-height: 60px;
    padding: 46px 30px 163px;
    width: 768px;
  }
  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 21px 110px 165px;
  }
  &--form {
    padding-bottom: 37px;
    @media (min-width: @tablet-width) {
      padding-bottom: 54px;
      padding-left: 70px;
      padding-right: 70px;
    }
    @media (min-width: @desktop-width) {
      padding-bottom: 56px;
      padding-left: 110px;
      padding-right: 110px
    }
  }
}
