.programs-form {
  padding: 0 20px 32px;
  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 72px;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }
}
.programs-form__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    gap: 61px;
    align-items: center;
  }
  @media (min-width: @desktop-width) {
    gap: 81px;
  }
}
.programs-form__button {
  font-family: "Oswald";
  width: 280px;
  margin-bottom: 21px;
  @media (min-width: @tablet-width) {
    width: 282px;
    font-size: 20px;
    padding: 13px 45px;
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    width: 568px;
    padding: 13px 188px;
  }
}
.programs-form__legend {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  @media (min-width: @tablet-width) {
    font-size: 16px;

  }
}
