.programs-form {
  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }
}

.programs-form__wrapper {
  .mobile;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 70px;
    display: flex;
    gap: 61px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    .desktop;
    gap: 81px;
  }
}

.programs-form__button {
  font-family: @Oswald;
  width: 192px;
  margin-bottom: 21px;
  display: block;
  text-align: center;
  padding-right: 44px;
  padding-left: 44px;

  @media (min-width: @tablet-width) {
    width: 192px;
    font-size: 20px;
    padding: 13px 45px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 192px;
    padding: 13px 188px;
  }
}

.programs-form__legend {
  display: block;
  font-family: @Arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
