.questionnaire {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 25.4px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 33px 70px 75px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px 69px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      gap: 98px;
    }
  }
}

.questionnaire__data {
  padding-bottom: 24px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    left: -20px;
    right: -20px;
    bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    flex-grow: 1;
  }
}

.questionnaire__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 59px;
  }
}

.questionnaire__input {
  color: @dark-grey;
  text-transform: uppercase;
}
