.slider {
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-color: @grey;
    min-height: 462px;
    margin-top: 183px;
    position: relative;
    display: flex;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 0;
    padding-bottom: 75px;
  }
}

.slider__list {
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -170px;
    right: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    top: -361px;
    right: 137px;
  }
}

.slider__item {
  text-align: center;
}

.slider__range {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    background-color: @grey;
  }
}

.slider__img {
  &--after {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &--after {
      display: inline;
    }
  }
}
