.social__list {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  padding: 25px 18px 11px;
}

.social__icon {
  fill: #666666;

  &:hover {
    stroke: @green;
  }

  &:active {
    opacity: 0.3;
  }

  &--facebook {
    stroke: #666666;

    &:hover {
      stroke: @green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
